<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
       input{
        font-family: 'Poppins', sans-serif;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
       }
       label{font-family: 'Poppins', sans-serif;}
    </style>
</head>
<body>
    <form action="/tatamotors" method="POST">
    <label>Choose Start Date :</label>
    <input type="date" name="start_date" min="2010-01-01">
    <input type="submit">
    </form>
</body>

</html>